{% extends "base.html" %}
{% load staticfiles %}

<html>
  
   {% block content %}
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/logged_out.css' %}"
      
      <meta charset="utf-8">
    <title>You are logged out</title>
    <head>
    
    <body>
    
        <div class='container'>
          <p>Logged out!</p>  
          <a href="{% url 'login'%}">Click here to login again.</a>
        </div>
    

      
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    
    </body>
   {% endblock %}
</html>