{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
{% block content %}
  <head>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}"
  
    

  <meta charset="utf-8">
  <title>{% block title %}Edit Profile{% endblock %}</title>

    
  </head>

  <body>
    <div class = 'container'>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit'>submit</button>
        </form>
     </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  </body>
    
</html>
{% endblock  %}