body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.containers {
    position: absolute;
    width: 1080px;
    
    left: 108px;
    top: 5px;
    flex-grow: 1;
    text-align: center;
    
    margin-top: 70px;
   
    
    
}

.searchbar {
    position: absolute;
    /* position: absolute; */
    width: 1094px;
    height: 106px;
    left: 200px;
    top: 0px;
    display: inline;
    text-align: center;

    
}

.searchbarInput {
    position: absolute;
    width: 682px;
    
    left: 141px;
    top: 30px;
    object-fit: fill;

    background: #C4C4C4;
}

.searchBarEnterbtn {
    position: absolute;

    left: 873px;
    top: 33px;
    object-fit: contain;
    background: #C4C4C4;
}

.postDivWrapper {
position: absolute;
width: 1440px;
height: 883px;
left: 0px;
top: 85px;
display: inline;
}

.PostSideServe {
    position: absolute;
    width: 215px;
    height: 571px;
    left: 1211px;
    top: 51px;

    background: #C4C4C4;
}

.imageselect {
    position: absolute;
    width: 104px;
    height: 65px;
    left: 12px;
    top: 33px;
    object-fit: contain;
}

.postimageDiv {
    
    width: 614px;
    max-height: 1000px;
    left: 233px;
    top: 18px;

    object-fit: fill;
    text-align: center;
    margin-left: 25%;
}

.postimageDivs {
    min-width: 614px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}



