{% load static %}

<!DOCTYPE html>
<html>
  <head>
        {% block head %}
            {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"> {% endcomment %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
            <meta charset="utf-8">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
            <link rel="shortcut icon" href="{% static 'images/favicons.ico' %}" type="image/x-icon">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="shortcut icon" href="images/favicons.ico" type="image/x-icon">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% endblock %}
  </head>
          
  <body >
    <nav class="navigation">
        <a href="feed.html">
            <img 
                src="{% static 'images/fleeks.jpg' %}"
                alt="logo"
                title="logo"
                class="navigation__logo"
            />
        </a>
        <div class="navigation__search-container">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
        <div class="navigation__icons">
            <a href="explore.html" class="navigation__link">
                <i class="fa fa-compass"></i>
            </a>
            <a href="#" class="navigation__link">
                <i class="fa fa-heart-o"></i>
            </a>
            <a href="profile.html" class="navigation__link">
                <i class="fa fa-user-o"></i>
            </a>
        </div>
    </nav>
      


    {% block content %}
   
  

    {% endblock  %}

    {% block scripts %}  
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src=" {% static 'js/app.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    {% endblock %}
    
  </body>  
</html>




 {% comment %} <div class='container'>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home:home'%}?next={{request.path}}">Deke</a>
            </li>
            {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'accounts:view_profile' %}?next={{request.path}}">Profile</a>
                  </li>  
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'home:home'%}?next={{request.path}}">home</a>
                  </li>         
                  <li class="nav-item">
                
                  <li class="nav-link"<h2> {{ user.get_username }}</h2></li>
                  <li><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/accounts/change-password">Change Password</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:edit_profile'%}?next={{request.path}}">Edit Profile</a>
                  </li>  
                {% else %}
                  <li><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
                  <li class="nav-item">
                    <a class="nav-link" href="/accounts/register">Register</a>
                  </li>
                {% endif %}                 
        </ul>
    </div> {% endcomment %}
